<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/images/icon.png" width="28" height="28">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                My backups
            </a>

            <a class="navbar-item">
                Logs
            </a>

            <a class="navbar-item" href="{{url_for('main.settings')}}">
                Settings
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Options
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://github.com/mags0ft/Lorean">
                        View on GitHub
                    </a>

                    <a class="navbar-item" href="https://github.com/mags0ft/Lorean/issues/new/choose">
                        New issue
                    </a>

                    <hr class="navbar-divider">

                    <a class="navbar-item" href="https://github.com/mags0ft/Lorean/blob/master/CONTRIBUTING.md">
                        Contribute!
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        Create backup
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>