.lorean-header-logo {
    width: 30rem;
}

textarea {
    min-height: 10em;
    resize: vertical;
}

main {
    min-height: calc(100vh - 14rem);
}

.location-picker {
    width: 30rem;
}

.log-view {
    min-height: 50vh;
}