<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/images/icon.png">

    <title>Lorean</title>
</head>
<body>
    {% include "components/navbar.html" %}

    <main>
        {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
            <section class="section">
                {% for category, message in messages %}
                <article class="message is-{{category}}">
                    <div class="message-body">
                        {{message}}
                    </div>
                </article>
                {% endfor %}
            </section>
            {% endif %}
        {% endwith %}
        <div class="section">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% include "components/footer.html" %}

    {% if not g.monitor %}
    <script src="/static/js/miniviewer.js"></script>
    {% endif %}
</body>
</html>