{% extends "base.html" %}
{% block content %}

<div class="columns">
    <div class="column is-one-quarter">
        <div class="box">
            <header>
                <h1 class="title">Backup monitor</h1>
                <h2 class="subtitle">
                    Using the Lorean backup monitor, you can easily keep track of your current backup
                    task and find out about how it's going so far.
                </h2>
            </header>
        </div>

        <div class="box has-background-danger-light">
            <div>
                <h1 class="subtitle"><strong>Important!</strong></h1>
                <p>
                    In order to keep track of potential errors during the backup in realtime, you should
                    let this backup monitor open as it will inform you directly if something unexpected
                    happens. If you can't, we advise you to take a look at the logs after each backup.
                </p>
                <br>
                <a href="{{url_for('main.logs')}}" class="button is-unrounded is-danger-light is-fullwidth">
                    Open backup logs
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <h2 class="subtitle">Backup monitor</h2>
            <hr>

            <progress class="progress is-medium is-primary" id="progress-bar"></progress>

            <table class="table is-hoverable">
                <tr>
                    <td><strong>Current file</strong></td>
                    <td id="current_file">none</td>
                </tr>
                <tr>
                    <td><strong>Progress</strong></td>
                    <td><span id="current_file_nr">0</span> / <span id="total_file_nr">0</span> files</td>
                </tr>
                <tr>
                    <td><strong>Skipped</strong></td>
                    <td id="skipped">0</td>
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td id="description"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    let REFRESH_CYCLE = 1000;
</script>
<script src="/static/js/monitor.js"></script>
{% endblock %}